body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display"),
    url(./Font/SFUIDisplay-Regular.woff) format("woff");
}

@media screen and (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}
